h1, h1 a {
    font-family: 'Space Grotesk', sans-serif;
    color: #17183b;
    font-weight: 600;
}
    
h2.new-primary {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}
    
a.active {
    background-color: #FAFAFA;
}
    
h2, h2 a, h1.new-primary {
    color: #17183b;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
		padding-top: 0px;
		line-height: 140%;
}

h2 a:hover, h2 a:visited, h2 a:active, h2 a:hover {
	text-decoration: none;
}

a.metadata-link.new-primary {
    color: #181818;
}
    
h4, h4.new-primary-background.new-primary-contrast {
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
    
h5 {
    font-family: 'DM Sans', sans-serif;
}
    
h5.metadata-title {
    font-family: 'Space Grotesk', sans-serif;
    color: #17183b;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    margin-top: 0px;
}
   
a.metadata-expand {
    font-size: 12px;
}
    
a.metadata-link.new-primary.new-primary-tint-hover {
    font-style: italic;
}
    
p {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
		line-height: 140%;
    font-weight: 400;
}
    
a.new-primary {
    color: #17183b;
}
    
p.page-subtitle {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
    
div.new-primary {
    font-family: 'DM Sans', sans-serif;
    color: #1A202C;
    font-weight:400;
}
    
a.metadata-link {
    font-weight: 400;
    font-size: 13px;
		line-height: 140%;
}
    
a.metadata-link.new-primary {
    font-weight: 400;
    font-size: 13px;
		line-height: 140%;
}
    
a.default-text {
    color: #17183b;
    font-weight: 600;
}
    
h1.page-title {
    font-weight: 600;
}
    
span.default-text {
    font-weight: 400;
}

p.metadata-description {
    font-size: 13px;
		line-height: 140%;
		color: #181818;
    font-weight: 400;
}
    
div.new-primary {
    font-weight: 300;
}
    
span, a.button {
    font-size: 12px;
		line-height: 140%;
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
    padding-top: 5px;
}
    
span.metadata-content, span.default-text, p.metadata-description {
    font-size: 13px;
		line-height: 140%;
		font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}
    
p.metadata-entry {
    margin-bottom: 4px;
}

span.metadata-title {
    font-size: 13px;
		line-height: 140%;
		font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}
    
a {
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #17183b;
}
    
form#facet-form {
    font-size: 13px;
		line-height: 140%;
		font-weight: 400;
}
    
label.ellipsis.multiline {
    font-size: 13px;
}
    
div.new-primary-background {
    opacity: 100 !important;
    font-size: 14px;
    font: 'DM Sans', sans-serif;
    font-weight: 400;
}
    
div.new-primary.one_third {
    font-size: 10.75px;
    font-weight: 400;
}
    
p.metadata-description {
    line-height: 18px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 50px;
}
    
hr {
    display: none;
}
    
div.content_wrapper {
    background-color: #FAFAFA;
}
    
a.new-primary.new-primary-tint-hover.multiline {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 14px;
		line-height: 125%;
}
    
button {
    background-color: #17183b;
}
    
button.search-button {
    height: 37.5px;
    padding-top:8px;
    text-transform: uppercase;
}
    
div.content_wrapper.top-meta-nav {
    padding-top:25px;
    background-color: #f3f3f3;
}
    
section.featured-container {
    display: none;
}
    
em, li {
    font-weight: 400;
}
    
div.entry li {
    font-size: 15px;
}
    
div#footer {
    font-size: 13px;
}
    
div.content_wrapper {
    padding-bottom: 10px;
}
    
fieldset {
    border: none;
}
    
button#filter-editor-button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}
    
span.filter-group-label, select.form-control {
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
    
div#new-secondary-background {
    background-color: #F3F3F3;
}
    
div.content_wrapper.top-meta-nav.thin_padding.new-secondary-background {
    background-color: #FAFAFA;
}
    
div#subfooter.new-primary-high-contrast-background {
    background-color: #FAFAFA;
}
    
div#content-panel.twelve.columns.last {
    padding-bottom: 100px
}
    
div.content_wrapper.spacer.medium_padding {
    padding-top: 12px;
    padding-bottom: 50px;
}
    
h1.new-primary.page-title {
    padding-bottom: 10px;
}
    
div#footer, div#subfooter {
    display: none;
}
    
select#sort-dropdown.default-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
		line-height: 140%;
    font-weight: 400;
}
    
div.sixteen.columns.results-and-filters, div.no-render {
    padding-bottom: 150px;
}
    
div.backbutton, div.backbutton a {
    text-align: left;
    padding-top: 40px;
    font-size: 12px;
		line-height: 140%;
    font-weight: 400;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Space Mono', sans-serif;
}
    
div.backbutton a:hover {
    text-decoration: underline;
}
    
div.cookie-consent-inner, span.cookie-consent-summary {
    font-family: 'DM Sans', sans-serif;
}
    
div.cookie-consent-inner button {
    color: #FAFAFA;
    font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
    font-family: 'Space Mono', sans-serif;
}
    
div.result-list-header.sixteen.columns {
    padding-bottom: 20px;
}
    
a.filter.addfilter.button, a#up-button.up-button, a#browse-link.button.browse_archive {
    padding: 9.5px 16px 10px;
}
    
select.form-control, input.form-control {
    border: 1px solid;
    border-color: #181818;
}
    
input.form-control {
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
}
    
div.archive_description, div.archive_name, div.archive_data_content, div.no-render {
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
		line-height: 140%;
		font-weight: 400;
}
    
a.button.view-gallery {
    padding-top: 10px;
}

a#browse-link.button.browse_archive {
	display: none;
}
    
a.button.back-button {
    padding-top: 9px;
}
    
div#content-panel.twelve.columns.last {
    font-size: 13px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    padding-bottom: 300px;
}

@media (max-width: 600px) {
    div.container {
		padding-left: 0px;
    }
        
    div.container {
		padding-left: 0px;
    }
    
    div.column {
		width: 100%;
		height: 150px;
    }
    
    div.about {
		column-count: 1;
    }
    
    div.topnav a {
		text-align: center;
		background-color: #fafafa;
    }
    
    div.topnav, div.topnav a {
		background-color: #fafafa;
    }
    
    div.grid-container {
		display: none;
    }
    
    div.text {
		font-size: 13px;
		line-height: 150%;
    }
    
    div.column {
		padding-bottom: 0px;
    }
        
    div.clearfix {
    padding-bottom: 0px;
    }
}

@media (max-width: 600px) {
    div.container {
		padding-left: 0px;
    }
	
		div.text, div.overlay-text {
		font-size: 14px;
		line-height: 140%;
		}
	
		div.sixteen.columns.results-and-filters, div.no-render {
    padding-bottom: 25px;
		}
	
	div.backbutton, div.backbutton a {
		font-size: 13px;
		line-height: 150%;
	}
}

@media (max-width: 360px) {
    div.container {
		padding-left: 0px;
    }
	
		div.text, div.overlay-text {
		font-size: 14px;
		line-height: 140%;
		}
	
		div.sixteen.columns.results-and-filters, div.no-render {
    padding-bottom: 25px;
		}
}

@media (max-width: 600px) {
    div.container {
    padding-left: 20px;
	}
		
	h2 {
		font-size: 22px;
	}
		
	div.alert {
		display: none;
	}
	
	div.text, div.overlay-text {
		font-size: 18px;
		line-height: 140%;
	}
		
	div#mobile-search-button {
		font-size: 13px;
		padding-top: 9.75px;
	}
		
	div.button-container {
		display: none;
	}
    
    div.column {
		width: 50%;
    }

    .sec-text p {
		font-size: 14px;
		color: #151635;
		font-weight: 500;
		line-height: 180%;
		margin: 1px 0px 0px 5px;
		padding-left: 70px;
		text-align: right;
		font: 'DM Sans', sans-serif;
    }
    
    .sec-text h1 {
		font-size: 13px;
		color: #151635;
		font-weight: 500;
		line-height: 140%;
		font: 'DM Sans', sans-serif;
		margin: 0px 0px 0px 5px;
		padding-left: 70px;
		text-align: right;
    }
    
    .sec-text h1 a {
		color: #151635;
		font-family: 'DM Sans';
		font-weight: 600;
		font-size: 16px;
		line-height: 140%;
    }
	
	.second-column {
		text-align: center;
	}
}

@media (max-width: 980px) {
div.content_wrapper.spacer.medium_padding {
    padding-top: 12px;
    padding-bottom: 25px;
	}
}
