/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 20/04/2017
*/

/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* Mobile first
================================================== */

.container 	{ position: relative; width: 100%; margin: 0px auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin: 0px; }
.row                                        { margin-bottom: 7px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

.container .one.column,
.container .one.columns,
.container .two.columns,
.container .three.columns,
.container .four.columns,
.container .five.columns,
.container .six.columns,
.container .seven.columns,
.container .eight.columns,
.container .nine.columns,
.container .ten.columns,
.container .eleven.columns,
.container .twelve.columns,
.container .thirteen.columns,
.container .fourteen.columns,
.container .fifteen.columns,
.container .sixteen.columns { width: 90%; padding-left: 5%; padding-right: 5%; }

.container .col_1.alpha { float: left; width: 20%!important; padding-left: 0%; }
.container .col_1.last { float: left; width: 72%!important; padding-left: 1%; padding-right: 0%; }
.container .col_2:nth-of-type(odd), .container .col_3:nth-of-type(odd), 
.container .col_4:nth-of-type(odd) { float: left; width: 48%; padding-right: 0%; margin: 5% 0%; }
.container .col_2:nth-of-type(even), .container .col_3:nth-of-type(even), 
.container .col_4:nth-of-type(even) { float: right; width: 48%; padding-left: 0%; margin: 5% 0%; }
.container .col_2 h3, .container .col_3 h3, .container .col_4 h3 { font-size: 1.2em; }
.container .col_2 .entry, .container .col_3 .entry, .container .col_4 .entry { font-size: 0.9em; line-height: 1.5em; }

.headerfullwidth.topbar .columns { padding-top: 8px; padding-bottom: 10px; }
.headerfullwidth.topbar .eight.columns { max-width: 40%; display: inline-block; }
.headerfullwidth.topbar .last { float: right; padding-right: 4px; }
.container .four.columns.logo { width: 50%; }

.half { width: 96%; }

.break_full { display: none; }
.break_small { clear: both; display: block; }

.eight.columns.email, .eight.columns.telephone { width: 44%!important; }
.eight.columns.telephone { float: right; }

.one_half,
.one_third,
.two_thirds,
.one_fourth,
.two_fourths,
.three_fourths,
.one_fifth,
.two_fifths,
.three_fifths,
.four_fifths,
.one_sixth,
.five_sixths {width: 100%; margin-right: 0%;}

#subfooter .one_third { width: 48%; float: left; }
.eight.columns.email { padding-right: 0%; font-size: 0.9em; } 
.eight.columns.telephone { padding-left: 0%; font-size: 0.9em; }
.container .five.col_1 { width: 100%!important; }
.container .ten.col_1 { width: 100%!important; padding: 0% 0% 10%; }

.container .col_1 { width: 100%; padding-left: 0%; padding-right: 0%; }
.container .col_1.alpha { padding-right: 0%; }
.container .col_1.alpha img { width: 100%; }

.footer .four.columns { width: 40%; }
.footer .twelve.columns { width: 45%; }

.example-grid .column, .example-grid .columns, .example-grid .one_half,
.example-grid .one_third, .example-grid .two_thirds, .example-grid .three_fourths, .example-grid .one_fourth, .example-grid .one_fifth, .example-grid .two_fifths,
.example-grid .three_fifths, .example-grid .four_fifths, .example-grid .one_sixth, .example-grid .five_sixths  {background-color: #eee; height: 30px;}

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns, or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Larger than mobile
================================================== */

@media (min-width: 480px) {
.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.two_fourths {width: 48%;}
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifths { width: 37.6%; }
.three_fifths { width: 58.4%; }
.four_fifths { width: 79.2%; }
.one_sixth { width: 13.33%; }

#subfooter .one_third { width: 30%; float: left; margin-bottom: 0px; }

.five_sixths { width: 82.67%; }

.service .two_thirds {width: 57%;}

.one_half,
.one_third,
.two_thirds,
.two_fourths,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifths,
.three_fifths,
.four_fifths,
.one_sixth,
.five_sixths {
    position: relative;
    margin-right: 4%;
    margin-bottom: 5px;
    float: left;
}
.last {margin-right:0 !important;}

.container .five.col_1 { width: 28%!important; float: left!important; padding-left: 0%!important; }
.container .ten.col_1 { width: 69%!important; float: left!important; padding: 0%!important; 
                        margin-left: 0px!important; margin-bottom: 20px; }


}

/* Larger than phablet
================================================== */

@media (min-width: 547px) {

}

/* Larger than tablet
================================================== */

/* Base Grid */
/* (width divided by 16) x number of cols - (margin-left + margin-right) */

@media (min-width: 768px) {

.container                                  { width: 768px; }
.container .column,
.container .columns                         { margin-left: 10px; margin-right: 10px; padding-left: 0!important; padding-right: 0!important; }
.alpha.omega                                { margin-left: 0; margin-right: 0; }

.container .one.column,
.container .one.columns                     { width: 28px; }
.container .two.columns                     { width: 76px; }
.container .three.columns                   { width: 124px; }
.container .three_across.columns			{ width: 236px; }
.container .four.columns                    { width: 172px; }
.container .four.logo.columns               { width: 172px; }
.container .five.columns                    { width: 220px; }
.container .six.columns                     { width: 268px; }
.container .seven.columns                   { width: 316px; }
.container .eight.columns                   { width: 364px; }
.container .nine.columns                    { width: 412px; }
.container .ten.columns                     { width: 460px; }
.container .eleven.columns                  { width: 508px; }
.container .twelve.columns                  { width: 556px; }
.container .thirteen.columns                { width: 604px; }
.container .fourteen.columns                { width: 652px; }
.container .fifteen.columns                 { width: 700px; }
.container .sixteen.columns                 { width: 748px; }
.container .one-third.column                { width: 236px; }
.container .two-thirds.column               { width: 492px; }

}

/* Desktop and larger
================================================== */

/* Base Grid */
/* (width divided by 16) x number of cols - (margin-left + margin-right) */

@media (min-width: 960px) {

.container                                  { width: 960px; margin: 0px auto; }
.container .column,
.container .columns                         { margin-left: 20px; margin-right: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

.container .one.column,
.container .one.columns                     { width: 20px;  }
.container .two.columns                     { width: 80px; }
.container .three.columns                   { width: 140px; }
.container .three_across.columns			{ width: 280px; }
.container .four.columns                    { width: 200px; }
.container .four.logo.columns               { width: 200px; }
.container .five.columns                    { width: 260px; }
.container .six.columns                     { width: 320px; }
.container .seven.columns                   { width: 380px; }
.container .eight.columns                   { width: 440px; }
.container .nine.columns                    { width: 500px; }
.container .ten.columns                     { width: 560px; }
.container .eleven.columns                  { width: 620px; }
.container .twelve.columns                  { width: 680px; }
.container .thirteen.columns                { width: 740px; }
.container .fourteen.columns                { width: 800px; }
.container .fifteen.columns                 { width: 860px; }
.container .sixteen.columns                 { width: 920px; }
.container .three_across.columns			{ width: 280px; margin-bottom: 20px;}
.container .one-third.column                { width: 280px; }
.container .two-thirds.column               { width: 600px; }
 
.container .col_2 { float: left!important; width: 48%!important; padding-left: 0%; margin: 2% 2% 2% 0%!important; }
.container .col_2.last { float: right!important; width: 48%!important; padding-right: 0%!important; }
.container .col_3 { float: left!important; width: 32%!important; padding-left: 0%; margin: 2% 2% 2% 0%!important; }
.container .col_3.last { float: right!important; width: 32%!important; padding-right: 0%; margin-right: 0%!important; }
.container .col_4 { float: left!important; width: 22%!important; padding-left: 0%; margin: 2% 4% 2% 0%!important; }
.container .col_4.last { float: right!important; width: 22%!important; padding-right: 0%; margin-right: 0%!important; }

.break_full { clear: both; display: block; }
.break_small { display: none; }

.half { width: 46%; float: left; padding: 2% }

}

/* --------------- Accessibility -------------- 
a:focus {
	outline: solid !important;
	outline-color: blue !important;
}

.button:focus, button:focus {
	outline: solid !important;
	outline-color: blue !important;
}

input:focus {
	outline: solid !important;
	outline-color: blue !important;
}

-------- */

/* ----------- General page styling ----------- */
.flexslider ul {list-style-type: none!important; margin-bottom: 0px!important; }

body {
	font-size: 0.9em; line-height: 1.6em;
	font-family: 'Raleway', sans-serif;
	font-weight: 100; overflow: hidden; padding-top: 0px;
}

.hidden { display: none }

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight : 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight : inherit;
}

h1 {
	font-size : 2.7em;
	line-height : 1.1em;
	font-weight: 700;
	text-align: left;
	margin-bottom: 10px;
}

h2, h1.entry-title, .browse h1 {
	text-align: left;
	font-size : 1.7em;
	line-height : 1.4em;
	font-weight: 300;
	margin-bottom: 10px;
}

p.page-subtitle {
	margin-top: -6px;
	font-size: 75%;
}

.entry.intro {font-size: 1.3em; line-height: 1.6em;}

h2#comments {border-top: 1px dotted #999; margin-top: 20px;}

h3 {
	font-size : 1.4em;
	line-height : 1.2em;
	font-weight: 300;
	margin-bottom: 5px;
}

h1.post-title, h3.loop-title { margin-bottom: -3px; }

h4 {
	font-size : 1.3em;
	line-height : 1.2em;
	font-weight: 300;
	margin-bottom: 5px;
}

h5 {
	font-size : 1.2em;
	line-height :1.2em;
	font-weight: 500;
	margin-bottom: 5px;
}

h6 {
	font-size : 1.1em;
	line-height : 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
}

p {margin : 0 0 0.8em 0; line-height: 1.6em; font-weight: 300; }

h3 a {text-decoration: none!important;}

p img {
	margin : 0;
}

em {
	font-style : italic;
}

strong {
	font-weight : bold;
}

small {
	font-size : 80%;
}

/* Blockquote styles. Not used, unless a custom post adds them. */
blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5 {text-align: center;
	margin: 0 auto; width: 30%; line-height: 1.1em; display: block; font-style: normal; margin-bottom: 15px; padding-bottom: 15px}
  
blockquote, blockquote p {
	font-size: 1em; line-height: 1.6em; color: #666; padding-left: 70px;  padding-right: 70px; font-style: italic; }
  
blockquote {
	border-radius: 10px;
	margin: 30px 10%;
	background-color: #fff;
	padding : 22px 0px 12px 0px;
	font-family: 'Yantramanav', sans-serif;
	font-size: 1.2em;
	border: 1px solid #eee;
}
  
  blockquote p:before {
	font-style: normal;
	content: "\201C";
	margin-top: 40px;
	margin-left: -50px;
	float: left;
	color: #ddd;
	font-size: 140px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
  }
  
blockquote cite {
	display : block;
	font-size : 1.1em;
	color : #666;
}

blockquote cite:before {
	content : "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color : #666;
}
  
hr {
	border : 1px #aaa dotted;
	border-width : 0.1em 0 0;
	clear : both;
	/*margin : 0% 1% 2% 1%;*/
	height : 0;
}

/* #Links
================================================== */

a, a:visited {
	text-decoration : none;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover, a:focus {
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:visited div {
    border:inherit;
}

p a, p a:visited {
	line-height : inherit;
}

a.subtitle-link, a.metadata-link { font-weight: bold; }

/* #Lists
================================================== */

ul, ol {
	margin-bottom : 0px; list-style : none; list-style-position: outside; 
}

ul {
	list-style : disc; list-style-position: outside;
}

ul#filter-list { 
	list-style-type: none; margin-bottom: 5px; 
}

#facet-form ul {
	list-style-type: none; margin-bottom: 15px;
}

ol {
	list-style : decimal;
}

ol, ul.square, ul.circle, ul.disc {
	margin-left : 0%;
}

ul.square {
	list-style : square;
}

ul.circle {
	list-style : circle;
}

ul.disc {
	list-style : disc;
}

.entry ol li {
	text-indent: 0px;
	margin-left: 25px; line-height : 1.4em;
	margin-bottom : 1%;
}

.entry ul li {
	text-indent: -15px;
	margin-left: 15px; line-height : 1.4em;
	margin-bottom : 1%;
}

ul ul, ul ol, ol ol, ol ul {
	margin : 1.3% 0 0% 7%;
}

ul.gform_fields li {
	text-indent: 0px;
}

.entry ul {list-style-position: inside;}
.entry ul, .entry ol {margin-bottom: 25px;}

ul ul li, ul ol li, ol ol li, ol ul li {
	margin-bottom : 0%;
}

li {
	line-height : 1.6em;
	margin-bottom : 0%;
}

ul.large li {
	line-height : 1.6em;
}

li p {
	line-height : 1.6em;
}

/* ----------- Home page styling ----------- */
.top_text_title {
	padding-bottom: 15px;
	font-size: 24px;
}

@media only screen and (min-width: 655px) {
.top_text_title {
	padding-bottom: 15px;
	font-size: 36px;
	}
}

.new-primary {
	font-weight: bold;
	color: #113e54;	
}

.headerfullwidth.logonav {
    display: none;
}

div.new-primary-background {
	opacity: .75 !important;
}

#dolphinnav ul {
	visibility: hidden;
}

#h3home {
	margin-top: 20px;
	margin-bottom: 10px;
}

#archivebuttonhome {
	vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
	margin-bottom: 0px;
	opacity: 1 !important;
}

#homesearchform {
	float: none;
	margin-top: 18px;
}

#homesearchdiv {
	text-align: center;
}

#homesearchform input {
    padding: 1.1% 0% 1.1% 2%;
    outline: none;
    border-width: 1px;
    border-style: solid;
	border-color: #181818;
    border-radius: 5px 0px 0px 5px;
    font: 12px "Inter", sans-serif!important;
    height: 38px;
    width: 220px;
    box-sizing: border-box;
    position: relative;
    top: -2px;
    -webkit-appearance: none;
}

/* #Images
================================================== */

img.scale-with-grid {
	max-width : 100%;
	height : auto;
	}
	
	.alignnone {
		margin: 0px 5px 5px 0;
	}
	
	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 0px auto 5px auto;
	}
	
	.alignright {
		float:right;
		margin: 0px 0 10px 10px;
	}
	
	.alignleft {
		float: left;
		margin: 0px 10px 10px 0;
	}
	
	.homefeaturedalign {
		float: right;
	}
	
	.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}
	
	a img.alignright {
		float: right;
		margin: 0px 0 20px 20px;
	}
	
	a img.alignnone {
		margin: 0px 0px 10px 0;
	}
	
	a img.alignleft {
		float: left;
		margin: 0px 20px 20px 0;
	}
	
	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}
	
	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;
	}
	
	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}
	
	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}
	
	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}
	
	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	
	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}

/* For width larger than 650px: */
@media only screen and (min-width: 650px) {

	.title-container {
		padding-left: 5px;
		padding-top: 15px;
	}

	.four.columns.logo {
		display: none;
	}

	.meta_single.grey_block.new-secondary-background {
		background-color: transparent;
	}

	.mobile_list {
		background-color: #DEDEDE;
	}

	.mobile_header {
		display: none;
	}

	#footer {
		text-align: center;
	}

	#subfooter {
		background-color: #F7F7F7;
	}
}
